dashdash-bootstrap-componentsdash-core-componentsdash-html-componentsdash-tableflaskgunicornpandasnumpyscikit-learnplotlyrequestschardetspacysentence-transformerstransformerstorchfuzzywuzzyseleniumyfinancebeautifulsoup4lxmlserpapipython-dotenv